@import url(./reset.css);

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}



.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid #ffd700;

}

.menu-time h2:nth-child(2), 
.menu-score h2:nth-child(2){
    margin-top: 1rem;
}

.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel-row{
    display: flex;
    
}

.panel {
    margin-top: 1rem;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.square {
    align-content: center;
    text-align: center;
    color: #ffffff;
    font-size: x-small;
    height: 110px;
    width: 110px;
    border: 1px solid #000000;
    background-image: linear-gradient(#a03e11,rgb(117, 64, 64)) ;
    
}

.enemy {
    background-image: url("../images/ralph.png"), linear-gradient(0deg, #a03e11,black);
    background-size: cover;
    background-position: center;
    
}